*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
#header{
  text-align: center;
  padding: 10px;
  border: 5px solid;
  border-color: darkturquoise;
}
#icon{
  position:  absolute;
  border-radius: 50%;
  border: 2px solid rgb(255, 0, 0);
  left: 10px;
  animation: colorRotate 3s infinite linear;
}
@keyframes colorRotate {
  0% {
    border-color: rgb(255, 0, 0);
  }
  33% {
    border-color: rgb(0, 255, 0);
  }
  66% {
    border-color: rgb(0, 0, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}
h2{ 
  text-align: center;
  margin-left: 20px;
}
#list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  justify-content: center;
}
#about{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 5px double;
  border-color: darkturquoise;
}
#about h3{
  text-align: center;
  padding: 10px;
  
}
#about p{
  padding: 10px;
  text-indent: 50px;
}
#about h5{
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  font-family: Courier, monospace;
}
#about li{
  font-size: 15px;
  list-style: none;
  font-weight: bold;
  color: green;
  margin: 10px 0px 0px 10px;
}
#about li::before{
  content: "✓";
}
#contact{
  border: 5px solid;
  border-color: darkturquoise;
  padding: 10px;
  text-align: center;
}
#contact div h3{
  margin-bottom: 10px;
  margin-top: 10px;
}
#contact a{
  text-decoration: none;
}
.footer-content p {
  margin-top: 10px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
.site-footer {
  margin-top: 5px;
  border-top: 2px dashed darkturquoise;
  text-align: center;
  padding: 10px;
}
#img1{
  position: absolute;
  margin-left: 30px;
  margin-top: 20px;
  transform-origin: top;
  animation: lamp1 3s alternate infinite linear;
}
#img2{
  position: absolute;
  right: 0 ;
  margin-right: 30px;
  margin-top: 20px;
  transform-origin: top;
  animation: lamp2 3s alternate infinite linear;
}
@keyframes lamp1 {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
    }
  }
@keyframes lamp2 {
    from {
      transform: rotate(10deg);
    }
    to {
      transform: rotate(-10deg);
    }
  }